.sort-icon {
    position: relative;
    width: 120px;
}

.up {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 10px solid #ddd;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0;
    right: 10px;
}

.down {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 10px solid #ddd;
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: 0;
    right: 10px;
}

.up.active {
    border-bottom: 8px solid #333;
}

.down.active {
    border-top: 8px solid #333;
}